.index{
    width: 60%;
  


}
.titel{
    display: flex;
    justify-content:space-around;
    border-bottom: 1px solid silver;
    margin: 5px;
    color: black;
}
.hash{
    padding-left: 10px;
    padding-right: 10px;
    background-color: aqua;
    border-radius: 10px;
}
.slider{
    display: flex;
}
.sl{
    max-width: 1400px;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
}
.but{
    margin-top: 70px;
}
.but:hover{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 0.5px solid silver;
}
.podpis{
    color: black;

 
}
.podpis img{
    padding-left: 30%;
}
.comp{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    height: 275px;
   
}
.titelSalares{
    display: flex;
    justify-content: space-around;
    padding-top: 130px;
    
}
.indexSalares{

    background: #F6F8FC;
}
.name{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #23262F;
}
.price{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #353945;
  
}
.sliderHobit{
    
}
.styleindexopis{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.styleindexopis a{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}
.styleindexopis div{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #353945;
}
.imgComp{
    display: flex;
}
.imgComp img{
    width: 30px;
}
.price{

    border-radius: 5px;
    height: 20px;
    text-align: center;
    align-self: center;
    padding: 5px;

}
.button{
    display: flex;
    justify-content: end;
}
.three {margin-left: 2px;  z-index: 1; }
.seven {margin-left: 21px; z-index: 2;}
.ace { margin-left: 40px; z-index: 5; }

.podpisSalers{
    
    
}
.textindexopis{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
   
}
.priceOpis{
    color: #45B36B;
}
.imgSalersComp{

}
.priceSalersComp a{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #45B36B;
    border: 1px solid #45B36B;
    border-radius: 5px;
    padding: 5px;
}
.indexHobit{
    background-color: #45B36B;
}
.sliderHobit{
   
}
.textpopular{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Neutrals/4 */

color: #777E91;
}
.select{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */
background: #F6F8FC;
letter-spacing: -0.01em;

/* Neutrals/2 */

color: #23262F;
border: none;
}
.today{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #23262F;
    width: 256px;
    height: 40px;
    top: 20px;
    background: #FCFCFD;
    border-radius: 12px;
    order: 1;
 
}
.link{
    width: 20px;
    height: 20px;
    background-color: silver;
    border-radius: 7px;
}
.slider{
    padding-top: 40px;
    padding-bottom: 130px;
    padding-left: 10%;
}